
<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Business Contacts List</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Contact Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Contact Name"
                        name="item" 
                        value="<%= item.item %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Contact Number</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="111-222-3333"
                    name="qty" 
                    value="<%= item.qty %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Email Address</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter a Email"
                    name="status" 
                    value="<%= item.status %>"
                    >
                </div>
                <br />
                <div class="card">
                    <div class="card-header">Wokring Address</div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="hightTextField">Street</label>
                            <input type="text"
                            class="form-control"
                            id="hightTextField"
                            placeholder="1 Fonda Rd"
                            name="size_h" 
                            value="<%= item.size.h %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="widthTextField">City</label>
                            <input type="text"
                            class="form-control"
                            id="widthTextField"
                            placeholder="Markham"
                            name="size_w" 
                            value="<%= item.size.w %>"
                            required>
                        </div>

                        <div class="form-group">
                            <label for="uomTextField">Postcode</label>
                            <input type="text" class="form-control"
                            id="uomTextField"
                            placeholder="L1X 3d1"
                            name="size_uom" 
                            value="<%= item.size.uom %>"
                            required>
                        </div>
                    </div>                    
                </div>                
                <br />
                <div class="form-group">
                    <label for="tagTextArea">Additional Information <span class="text-muted">[use , to separate]</span></label>
                    <textarea type="text" class="form-control"
                    id="tagTextArea"
                    placeholder="Enter the Additional Information"
                    name="tags" 
                    required>
                    <%= item.tags %>
                    </textarea>
                </div>
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/inventory/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>